.nav-links{
    transition: 0.3s;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-right: 50px;
    height: 55px;
}
.nav-links:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(165, 31, 31);
}
nav div ul li a{
    margin-top: 3px;
}
.nav-logo{
    transition: 0.3s;
    text-align: center;
    height: 63px;
    border: 2px solid rgb(0, 0, 0);
}
.nav-logo:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(165, 31, 31);
}
.sinner{
    transition: 0.3s;
}
.sinner:hover{
    transform: scale(1.2);
}


@media (max-width: 991.98px) { 
    .bohoo{
        flex-wrap: wrap;
    }
    .nav-links{
    transition: 0.3s;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    height: 55px;
    }
 }